{% extends 'layouts/admin/base.html.twig' %}
{% block title 'Edit User #' ~ user.name %}

{% block body %}
	<h1>Edit User</h1>
	{% form_theme form 'bootstrap_4_layout.html.twig' %}

	{{ include("user/_form.html.twig",{button_label: 'Edit'}) }}
	<script src="{{ asset('build/user-form.js') }}"></script>


{% endblock %}
